* {
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
}

button {
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F3C552;
    font-size: 24px;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #3E3F43;
}

.fz36 {
    font-size: 36px;
}

.pos_relative {
    position: relative;
}

.content {
    margin: 110px auto;
    width: 1152px;
    background-color: white;
    position: relative;
    z-index: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.rectangle {
    height: 800px;
    width: 370px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #F9BDBD;
    border-radius: 0 20px 0 120px;
    z-index: -1;
}

section {
    padding: 0 100px;
    position: relative;
}

#main {
    height: 865px;
    display: flex;
    align-items: center;
}

#main header {
    position: absolute;
    height: 80px;
    top: 0;
    left: 80px;
    right: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin-right: 48px;
    color: #222222;
    font-size: 16px;
}

header nav a:last-child {
    margin: 0;
    padding: 10px 35px;
    border: solid 1px black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.current {
    color: #DAA520;
    font-weight: bold;
}

#main img:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 120px;
}

#main img:nth-child(4) {
    height: 382px;
    width: 382px;
    position: absolute;
    bottom: 80px;
    right: 250px;
    z-index: -2;
}

#main span {
    font-size: 36px;
    color: #3E3F43;
    line-height: 1.5;
    margin-bottom: 16px;
}

#main h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.4;
}

#main button {
    width: 175px;
    height: 50px;
    border-radius: 4px;
    background-color: #DAA520;
    line-height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 32px;
}

header strong {
    display: block;
    color: #3E3F43;
    padding: 2px 0 2px 36px;
    background: url("../img/flower.svg") left center no-repeat;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
}

.line {
    flex: 1 1 auto;
    height: 0;
    border-bottom: 1px solid black;
    margin: 0 3px 0 14px;
}

header h2 {
    font-size: 72px;
    color: rgba(34, 34, 34, 0.1);
}

#about {
    padding-bottom: 120px;
}

#about .flex_block {
    margin: 40px 0 170px;
}

.flex_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rounded_block {
    width: 280px;
    height: 400px;
    background-color: #F7DEA6;
    -webkit-border-radius: 0 100px 0 100px;
    -moz-border-radius: 0 100px 0 100px;
    border-radius: 0 100px 0 100px;
    position: relative;
}

.rounded_block img {
    position: absolute;
    bottom: 0;
    left: 40px;
}

#about p {
    font-weight: 700;
}

#about img:nth-child(5) {
    position: absolute;
    right: 0;
    bottom: 0;
}

#how_work {
    padding-top: 120px;
}

#how_work .flex_block {
    margin: 65px 0;
}

#how_work span {
    position: absolute;
    font-weight: 700;
    font-size: 92px;
    color: rgba(250, 189, 189, 0.25);
    top: 23px;
    left: -40px;
}

#how_work .how_work_span2 {
    left: -30px;
}

#how_work button {
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    background-color: #DAA520;
    display: block;
    margin: 0 auto 120px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
}

.card_grid {
    margin: 40px 0 120px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-gap: 40px 0;
}
.card_grid .rounded_block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_grid .rounded_block img {
    position: static;
}
.card_grid strong {
    position: absolute;
    top: 24px;
    left: 16px;
}
.card_grid button {
    position: absolute;
    bottom: 24px;
    right: 16px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
    padding: 8px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card_grid .bg_left {
    background-color: #F9BDBD;
}
.card_grid .bg_right {
    background-color: #A8DCEC;
}
#testimony {
    padding-bottom: 120px;
}
.reviews {
    min-width: 100%;
}
.reviews_block {
    padding: 54px 16px;
    width: 385px;
    border: solid 1px black;
    -webkit-border-radius: 0 80px 0 80px;
    -moz-border-radius: 0 80px 0 80px;
    border-radius: 0 80px 0 80px;
    font-size: 14px;
    font-weight: 700;
}
.author {
    display: flex;
    align-items: center;
}
.author img {
    margin-right: 10px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.author p {
    font-size: 12px;
    color: #AFAFAF;
}
footer {
    padding: 0 100px 24px;
    background: url("../img/footer_bg1.jpg") no-repeat ;
}
.subscribe {
    height: 175px;
}
.subscribe strong {
    font-size: 18px;
}
.subscribe span {
    font-size: 16px;
}
.subscribe form {
    height: 40px;
    line-height: 40px;
    border: 1px solid #DAA520;
    padding-left: 16px;
    font-size: 16px;
    display: flex;
    background-color: #fff;
}
.subscribe form input {
    border: none;
}
.subscribe form input:focus {
    outline: none;
}
.subscribe form input[type="text"] {
    width: 330px;
}
.subscribe form input[type="submit"] {
    height: 39px;
    width: 120px;
    background-color: #DAA520;
}
.references {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    align-items: center;
    grid-row-gap: 16px;
    padding: 24px 0 45px;
    width: 700px;
}
.references strong {
    font-size: 18px;
    font-weight: 700;
}
.references p {
    font-size: 14px;
    color: #8D8D8D;
    margin: 0;
}
footer > p{
    text-align: center;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    color: #8D8D8D;
}









.slick-slider {
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slick-arrow {
}

/* Стрелка влево */
.slick-arrow.slick-prev {
}

/* Стрелка вправо */
.slick-arrow.slick-next {
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.slick-dots {
}

.slick-dots li {
}

/* Активная точка */
.slick-dots li.slick-active {
}

/* Элемент точки */
.slick-dots li button {
}